/* Custom styles for Swiper pagination bullets */
.swiper-pagination-bullet {
  background-color: #B8B8B8;
  /* Default bullet color */
}

.swiper-pagination-bullet-active {
  background-color: #e13593;
  opacity: 0.8;
  /* Active bullet color */
}